@import "variables.scss";
@import "mixins.scss";
@import "header.scss";
@import "preview.scss";
@import "form.scss";
@import 'landing.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $fontFamily;
}
body {
  background-color: #302c42;
}
.container {
  background-color: #302c42;
  padding: 15px 15px;
 height: 100%;

  @include desktop {
    padding: 15px 25px; 
   
  }
}

.main {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  height: 100%;


  @include tablet{
    padding: 10px 0 20px 0;
    flex-direction: row;
    gap: 20px;
    
  }
}

.btn-color {
  border-radius: 20px;
  width: 85px;
  height: 30px;
  font-weight: bold;
}

.btn-color-dark {
  background-color: black;
  color: white;
}

.card {
  color: white;
  text-align: center;
  padding: 20px 0 10px 0;
}

.hidden {
  display: none;
}
