.preview {
  //width: 60%;
  // padding: 20px;
}
.preview--image {
  object-fit: cover;
  width: 100%;
  height: 80%;
  border-radius: 20px;
}

.preview--autor {
  background-color: white;
  color: #3e3e3e;
  width: 90%;
  // height: 214px;
  transform: translateY(-30px);
  margin: auto;
  border-radius: 20px;
  display: flex;
  flex-direction: row-reverse;

  padding: 20px;
  // height: 50%;
  // overflow-y: scroll;
}
.info--autor {
  width: 40%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.info--autor__image {
  border-radius: 50%;
  width: 74px;
  height: 70px;
  margin-bottom: 5px;
}

.info--autor__job {
  // font-weight: bold;
  color: $warmGrey;
  font-size: 10px;
}

.info--autor__name {
  font-size: 14px;
  font-weight: bold;
  //padding-top: 8px;
}
.wrap--title__preview{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
}
.info--project__line1 {
  // width: 34.2px;
    height: 2px;
    flex-grow: 0;
    // margin: 2.7px 87.1px 3.6px 0;
    background-image: linear-gradient(
        to right,
        rgba(163, 155, 155, 0),
        rgba(117, 112, 112, 0.75),
    rgba(8, 8, 8, 0.75),
      );
}
.info--project__line2{
    // width: 34.2px;
      height: 2px;
      flex-grow: 0;
      // margin: 2.7px 0 3.6px 87.1px;
      background-image: linear-gradient(to left,
            rgba(163, 155, 155, 0),
            rgba(117, 112, 112, 0.75),
            rgba(8, 8, 8, 0.75),
          );
}


.info--project__desc {
  font-size: 8px;
  margin: 10px 0;
}

.info--project__slogan {
  font-size: 12px;
  //margin-bottom: 30px;
}

.info--project {
  width: 60%;
}

.info--project__subtitle {
  font-size: 8px;
  text-align: center;
}

.info--project__title {
  font-size: 14px;
  color: black;
  margin-top: 10px;
  //padding-top: 20px;
}

.info--project__technologies {
  font-size: 14px;
  //padding: 10px;
  
}

.info--project__technologies-text {
  justify-content: center;
  display: flex;
  font-size: 10px;
}

.info--proyect__section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

}

.info--project__technologies-icon1 {
  font-size: 12px;
}
