// Font family:
$fontFamily: 'Roboto', sans-serif;

// Colors violet:

$colorDarkPurple: #2C1320;
$colorViolet: #5F4B66;
$colorSoftViolet: #A7ADC6;

// Colors blue:

$colorSoftBlue: #8797AF;
$colorHardBlue: #56667A;

