// Font family:
$fontFamily: 'Roboto', sans-serif;
$fontPoppins: 'Poppins', sans-serif;

//fonts colors

$white-50: rgba(255, 255, 255, 0.5);
$warmGrey: #909090;

// Colors violet:

$colorDarkPurple: #2c1320;
$colorViolet: #5f4b66;
$colorSoftViolet: #a7adc6;

// Colors blue:

$colorSoftBlue: #8797af;
$colorHardBlue: #56667a;

